.topbar,.logo
{
	background-color:#37474f;
}

/*字体主题色*/
.colormain
{
	color: rgba(38,50,56,0.87);
}

.colorsecondary
{
	color: rgba(38,50,56,0.54);
}

.load
{
	background-color: #455a64;
}

/*登录页面 登录按钮按下后 "登录中"*/
.loading
{
	background-color: #263238;
}

.studentid:focus
{
	border-bottom: 1px solid #37474f;
}

/*子活动 填写代替者的弹窗的取消or代替点击时*/
.cancelonclick,.replaceonclick
{
	background-color: #37474f;
}