.topbar,.logo
{
	background-color:#6a1b9a;
}

/*字体主题色*/
.colormain
{
	color: rgba(74,20,140,0.87);
}

.colorsecondary
{
	color: rgba(74,20,140,0.54);
}

.load
{
	background-color: #8e24aa;
}

/*登录页面 登录按钮按下后 "登录中"*/
.loading
{
	background-color: #8e24aa;
}

.studentid:focus
{
	border-bottom: 1px solid #6a1b9a;
}

/*子活动 填写代替者的弹窗的取消or代替点击时*/
.cancelonclick,.replaceonclick
{
	background-color: #6a1b9a;
}